.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333333;
}

.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

ul li {
  margin-top: 25px;
  margin-right: 30px; /* Add space between list items */
}

h1 {
  font-size: 40px;
}


