<div class="container">
  <div class="container-logo">
    <a routerLink="/">
      <img class="blog-logo" src="../../assets/blog-logo.png" alt="logo made with AI"/>
    </a>
  </div>
  <ul>
    <li>
      <a class="headerlink" routerLink="/">HOME</a>
    </li>
    <li>
      <a class="headerlink" routerLink="/about">ABOUT</a>
    </li>
    <li> <!-- display login/logout depending on status-->
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedInTemplate">
        <a class="headerlink" routerLink="/login">LOGIN</a>
      </ng-container>
      <ng-template #loggedInTemplate>
        <a class="headerlink" (click)="logout()">LOGOUT</a>
      </ng-template>
    </li>
  </ul>
</div>
