<div class="container">
  <div class="container-logo">
    <a routerLink="/">
      <img class="blog-logo" src="../../assets/blog-logo.png" alt="logo made with AI"/>
    </a>
  </div>
  <ul>
    <li>
      <a class="headerlink" routerLink="/">HOME</a>
    </li>
    <li>
      <a class="headerlink" routerLink="/about">ABOUT</a>
    </li>
    <!-- Display this link only when logged in -->
    <ng-container *ngIf="authService.isLoggedIn() && showCreateLink; else loggedInTemplateRef">
      <li>
        <a class="headerlink" routerLink="/create">CREATE</a>
      </li>
    </ng-container>
    <ng-container *ngIf="!authService.isLoggedIn(); else loginTemplateRef">
      <li> <!-- display login link when logged out -->
        <a class="headerlink" routerLink="/login">LOGIN</a>
      </li>
    </ng-container>
    <li *ngIf="authService.isLoggedIn()"> <!-- display logout link when logged in -->
      <a class="headerlink" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</div>

