footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 1;
  border-top: 0.0625rem solid black;
  width: 100vw;
  height: 6.25rem;
}

ul {
  display: flex;
}

ul li:not(:first-child) {
  margin-left: 1.875rem;
}

img {
  height: 1.5625rem;
}

p {
  color: gray;
  font-size: smaller;
  margin-top: 0.9375rem;
}