footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid black;
  width: 100vw;
  height: 100px;
}

ul {
  display: flex;
}

ul li:not(:first-child) {
  margin-left: 30px;
}


p {
  color: gray;
  font-size: smaller;
  margin-top: 15px;
}

img {
  height: 25px;
}