<div class="full-page">
  <div class="content-box">
    <div class="blog-content">
      <h2>Write your blog post</h2>
      <p>What did you read recently?</p>
      <input type="file" (change)="onFileChange($event)" required /><br />
      <img
        id="previewImage"
        [src]="thumbnailUrl"
        alt="Preview"
        *ngIf="thumbnailUrl"
      /><br />

      <input
        type="text"
        [(ngModel)]="title"
        placeholder="Title..."
        class="title-input"
        required
      /><br />

      <textarea
        [(ngModel)]="body"
        placeholder="Blog content..."
        rows="10"
        required
      ></textarea
      ><br />
      <button (click)="createPost()">Post</button>
      <!-- Display success message if post is created -->
      <p *ngIf="postCreated">Post created successfully!</p>
    </div>
  </div>
</div>
