.blog-container {
  width: 65vw; /* remove this div?*/
}

.blog-content {
  display: flex;
  margin: 3.125rem;
  padding: 1.25rem;
}

.blog-text {
  margin-left: 3.125rem;
}

img {
  height: 25rem;
  width:23rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

