* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

body {
  background-color: #333333;
}

h1, h2, h3, p, a{
  color:#CCCCCC;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.full-page {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  background-color: #665E5E;
  margin: 1.25rem;
  width: 65vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

textarea, input {
  background-color: #CCCCCC;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

button {
  transition: all 0.4s ease-in;
  margin-top: 0.625rem;
  appearance: none;
  align-items: center;
  background-color: black;
  border-radius: 1.5rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #CCCCCC;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans", Roboto, Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  height: 3rem;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: auto;
}

button:hover {
  background: gray;
  color: black;
}