h2 {
  margin: 2.5rem 0rem 2.5rem 0rem;
  font-size: 1.25rem;
  color: white;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid white;
}

img {
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-image {
  margin-bottom: 30px;
}

.blog-container {
  width: 65vw; /* remove this div?*/
}

.blog-content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  margin: 50px;
  padding: 20px;
}

.reaction-icon {
  height: 25px;
  border: none;
  box-shadow: none;
  margin-right: 10px;
}
