.blog-container {
  width: 65vw; /* remove this div?*/
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.125rem;
  padding: 1.25rem;
}

h2 {
  margin: 2.5rem 0rem 2.5rem 0rem;
  font-size: 1.25rem;
  color: #cccccc;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid #cccccc;
}

.delete-button {
  align-self: flex-end;
}

img {
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

.book-image {
  margin-bottom: 1.875rem;
}

.created-date {
  font-size: smaller;
  color: gray;
}

/* Reaction buttons */

.reaction-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.reaction-icon {
  height: 1.5625rem;
  border: none;
  box-shadow: none;
  margin-right: 0.625rem;
}

.reaction-buttons button {
  margin-right: 0.625rem; /* Add margin between buttons */
}

/* Comments */

.comments-section {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #444;
  border-radius: 0.5rem;
}

.comments-section p {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.comments-section ul {
  list-style: none;
  padding: 0;
}

.comments-section li {
  color: #cccccc;
  margin-bottom: 0.5rem;
}

/* Add comment */

.new-comment {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.comments-section  textarea {
  height: 3rem;
  width: 19rem;
  padding: 0.5rem;
}

.add-comment-btn {
  margin-top: 0;
  margin-left: 1rem;
}

